* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: white;
    font-family: serif;
    height: 70px;
}

.navbar .container {
    position: relative;
}

.navbar-nav {
    position: absolute;
    right: -70px;
    top: -70px;
    transition: 0.5s;
}

.nav-link {
    padding: 30px 0;
    height: 100%;
}

.nav-link,
.navbar-brand {
    color: black;
}

.navbar-brand:hover {
    color: black;
}

.nav-link:hover {
    background-color: black;
    color: white;
}

.navbar-brand {
    font-size: 50px;
}

footer {
    background-color: #191919;
    color: white;
    padding: 100px 0;
    text-align: center;
}

footer a {
    display: block;
    color: gray;
}

footer a:hover {
    color: white;
}

footer i {
    padding: 5px 15px;
}

footer .col-md-4 {
    margin-bottom: 20px;
}